html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #14a79a;
  background: linear-gradient(#14a79a, #6f6e8d);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  line-height: 50px;
  list-style: none;
  transition: 0.3s;
}

a {
  color: #110f7c;
  text-decoration: none;
  transition: color 0.5s;
  margin-right: 20px;
}

a:hover {
  color: #4d2323;
}

main {
  background-color: #6f6e8d;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.avatar {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  border: 3px #14a79a solid;

}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

pre {
    background-color: black;
    color: green;
    font-size: large;
    border-radius: 10px;
}

footer {
  background-color: #14a79a;
  border: 1px solid green;
}
